<app-navbar></app-navbar>
<main class="container animated slideInUp slow">
    <div class="jumbotron mt-5">
        <h1 class="display-3 text-center">Bienvenido</h1>
        <div class="row mt-5">
            <div class="col-md-6 text-center">
                <button class="btn btn-primary">
                    <i class="fa fa-list-ul fa-4x"></i>
                    <br>
                    <br>
                    <h2>Lista de API's</h2>
                </button>
            </div>
            <div class="col-md-6 text-center">
                <button class="btn btn-primary" [routerLink]="['/intranet']">
                    <i class="fa fa-sign-in fa-4x"></i>
                    <br>
                    <br>
                    <h2>INTRANET</h2>
                </button>
            </div>
        </div>
    </div>
</main>