<mat-sidenav-container class="app-sidenav-container">
    <!-- inicia sidenav lado Izquierdo-->
    <mat-sidenav #sidenav opened="true" [mode]="'side'" class="app-sidenav">
        <mat-toolbar color="primary" class="mat-elevation-z8">MENU</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/intranet']">Home</a>
            <a mat-list-item [routerLink]="['/intranet','lugares']">Lugares</a>
            <a mat-list-item routerLink=".">Portafolio</a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- termina sidenav lado Izquierdo-->

    <!-- Inicia  contenido del sidenav-->

    <app-toolbar (emisor)="sidenav.toggle()"></app-toolbar>

    <router-outlet></router-outlet>
    <!-- Termina contenido del sidenav-->

</mat-sidenav-container>